<div class="modal-header">
  <h4 class="modal-title pull-left">Sport</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body card-text">
  <label>Name: </label>
  <input type="text" class="form-control" class="card-text" [(ngModel)]="sport.name">
  <div class="row">
      <div class="mr-1">
          <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
      </div>
      <div class="mr-1">
          <button type="submit" class="btn btn-default" (click)="save()">Save</button>
      </div>
  </div>
</div>