<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="submit(model)" (keydown.enter)="$event.preventDefault()">
    <formly-form [form]="form" [fields]="fields" [model]="model">
      <div class="row">
        <div class="mr-1">
          <button type="button" class="btn btn-default" (click)="onNoClick()">Cancel</button>
        </div>
        <div class="mr-1">
          <button type="submit" class="btn btn-default" [disabled]="!isFormValid()">Save</button>
        </div>
      </div>
    </formly-form>
  </form>
</div>