<div *ngIf="(stadiums$ | async) as stadiums; else loading">
  <app-stadiums-list
      [stadiums]=stadiums
      (addUpdateStadium)=addUpdateStadium($event)
      (deleteStadium)="deleteStadium($event)"></app-stadiums-list>
</div>
<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>

<ng-template #editTemplate>
  <app-add-update-stadium
      [stadium]="selectedStadium"
      (closeModal)="modalRef.hide()"
      (saveStadium)="saveStadium($event)">
  </app-add-update-stadium>
</ng-template>

<ng-template #deleteTemplate>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Stadium</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div>Are you sure you want to delete {{selectedStadium.name}}?</div>
      <div class="row">
          <div class="mr-1">
              <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
          </div>
          <div class="mr-1">
              <button type="submit" class="btn btn-default" (click)="deleteConfirmed()">Delete</button>
          </div>
      </div>
  </div>
</ng-template>