<div *ngIf="(sports$ | async) as sports; else loading">
  <app-sports-list
      [sports]=sports
      (addUpdateSport)=addUpdateSport($event)
      (deleteSport)="deleteSport($event)"></app-sports-list>
</div>
<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>

<ng-template #editTemplate>
  <app-add-update-sport
      [sport]="selectedSport"
      (closeModal)="modalRef.hide()"
      (saveSport)="saveSport($event)">
  </app-add-update-sport>
</ng-template>

<ng-template #deleteTemplate>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Sport</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div>Are you sure you want to delete {{selectedSport.name}}?</div>
      <div class="row">
          <div class="mr-1">
              <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
          </div>
          <div class="mr-1">
              <button type="submit" class="btn btn-default" (click)="deleteConfirmed()">Delete</button>
          </div>
      </div>
  </div>
</ng-template>