<div class="container buttons-menu">
  <div class="row">
    <div class="col px-4 pt-2">
        <button mat-flat-button color="primary" class="btn-block" (click)="goToUsers()">Users</button>
    </div>
    <div class="col px-4 pt-2">
      <button mat-flat-button color="primary" class="btn-block" (click)="goToSports()">Sports</button>
    </div>
    <div class="col px-4 pt-2">
        <button mat-flat-button color="primary" class="btn-block" (click)="goToStadiums()">Stadiums</button>
    </div>
  </div>
</div>